@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background-color: white;
  font-family: "Nunito";
}
a {
  text-decoration: none;
}